@media only screen and (max-width: 700px) {
    .wrapper {
        .lightbox {
            top: 50%;
            left: 0%;
            width: 100%;
            margin-left: 0;
            .progress-bar {
                width: 80%;
            }
        }
    }
}