//var
$font-stack: Helvetica,
sans-serif;
$grey: #dddddd;
$dark-green: #4c7999;
$blue: #afd8e5;
$dark-blue: #467800;
$dark-grey: #808080;
$black: #000000;
$red: #ff0000;
$green: #00A2AE;
$yellow: #fdd001;
$white: #ffffff;